{% extends 'ex01/base.html' %}


{% block title %}
Processus d’affichage d’une page statique."
{% endblock %}


{% block content %}
		<h2> les pages statiques </h2>
		<p>
			En simplifiant, disons qu’une page Web statique est une page Web dont la machine (le serveur Web, l’ordinateur) sur laquelle celle-ci est stockée, ne fait aucun effort pour la créer lorsque celle-ci est demandée par la machine qui veut l’affichée à travers son navigateur Web.

			On dit alors que le serveur reste statique pour la création de la page Internet (il ne fait rien pour créer la page Web).
		</p>
	</div>
	<hr>
{% endblock %}

